// main: ./../../main.less

.about{
    background-color: #14826f;
    display: flex;
    @media (max-width: 992px){
        flex-direction: column;
    }
}

.about__content-left{
    margin:64px 142px 0 143px; 
    @media (max-width: 1600px){
        margin:64px 130px 0 130px; 
    }
    @media (max-width:1400px){
        margin: 20px 50px 0 65px;
    }
    @media (max-width: 1200px){
        margin: 0 40px 0 20px;
    }
    @media (max-width: 992px){
        margin: 0;
    }
}   

.about__img{
    max-width: 691px;
    max-height: 818px;
    z-index: 1222;
    position: relative;
    top: 50px;
    @media (max-width: 1600px){
        max-width: 490px;
        max-height: 618px;
        top: 20px;
    }
    @media (max-width: 1200px){
        max-height: 475px;
        top: 65px;
    }
    @media (max-width: 992px){
        max-width: 530px;
        top: 35px;
        left: 26%;
    }
    @media (max-width: 576px){
        max-width: 240px;
        top: 8px;
        left: 13%;
    }
}

.about__content-right{
    margin: 64px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1600px){
        margin: 40px 0 0 80px;
    }
    @media (max-width:1400px){
        margin: 10px 0 0 0;
    }
    @media (max-width:992px){
        margin: 45px 0 0 0;
    }
    @media (max-width: 480px){
        margin: 10px 0 0 0;
    }
}

.about__title{
    font-size: 57px;
    width: 100%;
    color: #fff;
    line-height: 1.09;
    letter-spacing: -1.1px;
    margin: 0;
    position: relative;
    @media (max-width: 1600px){
        font-size: 50px;
        max-width: 580px;
    }
    @media (max-width: 1400px){
        font-size: 48px;
        margin-top: 15px;
    }
    @media (max-width: 1200px){
        font-size: 42px;
        width: 100%;
    }
    @media (max-width: 992px){
        margin: 0 30px;
        font-size: 40px;
    }
    @media (max-width: 576px){
        font-size: 28px;
        margin: 40px 0 0 20px;
        max-width: 285px;
    }
    
}
.about__title-span{
    color: #cae941;
    
}
.about__title-span::after{
    content: " ";
    position: absolute;
    background-image:url("../assets/images/about/about-after.png");
    width: 450px;
    height: 13px;
    top: 134px;
    left: -6px;
    @media (max-width: 1600px){
        top: 114px;
    }
    @media (max-width:1400px){
        top: 113px;
        left: -11px;
    }
    @media (max-width: 1200px){
        width: 423px;
        height: 13px;
        top: 100px;
        left: -23px;
    }
    @media (max-width: 992px){
        top: 105px;
        left: -25px;
    }
    @media (max-width: 576px){
        top: 60px;
        left: -10px;
        width: 260px;
    }
}

.about__list{
    font-size: 21px;
    font-weight: 800;
    padding: 0 0 0 35px;
    @media (max-width: 1600px){
        margin-top: 50px;
        font-size: 17px;
    }
    @media (max-width:1400px){
        margin: 25px 0 0 0;
    }
    @media (max-width:1200px){
        margin: 40px 0 0 0;
    }
    @media (max-width:992px){
        margin: 50px 0 0 70px;
    }
    @media (max-width:768px){
        
    }
    @media (max-width:576px){
        margin: 40px 0 0 10px;
    }
}

.about__list-item{
    font-size: 21px;
    font-weight: 800;
    color: #fff;
    padding: 0 0 20px 0;
    position: relative;
    @media (max-width: 1600px){
        font-size: 17px;
    }
    @media (max-width: 1200px){
        font-size: 16px;
    }
    @media (max-width:576px){
        font-size: 13px;
    }
}
.about__list-item::before{
    content: " ";
    position: absolute;
    background-image: url("../assets/images/about/right-li.png");
    width: 18px;
    height: 18px;
    top: 3px;
    left: -30px;
}
.about__list-item:last-child{
    padding: 0;
}
.about__btn{
    color: #fff;
    max-width: 380px;
    margin: 0 0 90px 0;
    font-size: 21px;
    padding: 21px 0 18px 29px;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 1600px){
        max-width: 320px;
        margin: 20px 0 30px 0;
        font-size: 17px;
        padding: 17px 0 17px 25px;
    }
    @media (max-width: 1400px){
        margin: 20px 0 30px 0;
    }
    @media (max-width: 1200px){
        max-width: 330px;
        margin: 30px 0 60px 0;
        padding: 10px 0 13px 19px;
        font-size: 20px;
    }
    @media (max-width: 992px){
        margin: 35px 0 40px 70px;
    }
    @media (max-width: 576px){
        margin: 35px 0 40px 10px;
        font-size: 15px;
        max-width: 270px;
    }
}
.about__btn::after{
    content: " ";
    position: absolute;
    background-image: url("../assets/images/about/arrow.png");
    width: 30px;
    height: 16px;
    top: 25px;
    right: 35px;
    @media (max-width: 1600px){
        top: 20px;
    }
    @media (max-width: 1200px){
        top: 15px;
        right: 22px;
    }
    @media (max-width: 576px){
        top: 12px;
    }
}

