@font-face{
    font-family:"MuliRegular";
    src: url("assets/fonts/Muli-Regular.woff") format("truetype");
    font-style: normal;
}

@font-face{
    font-family:"MuliBold";
    src: url("assets/fonts/Muli-Bold.ttf") format("truetype");
    font-style: normal;
}

@font-face{
    font-family:"MuliExtraBold";
    src: url("assets/fonts/Muli-ExtraBold.woff") format("truetype");
    font-style: normal;
}




/*-----------------------------------HEADER------------------------------------------------------*/

.header{
    height: 100vh;
    background: url("assets/images/header/header-bg-img.png")  no-repeat ;
    background-size: cover;
    background-position:center;
    width: 100%;
         
}

.header__top{
   padding: 75px 100px 100px;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -----------------header__menu-------------*/

.menu__list{
    border: 2px solid red;
    display: flex;
    padding: 0;
    margin: 0;    
}

.menu__item{
    margin-right: 35px;
    
}
.menu__item:last-child{
    margin-right: 0;
}

.menu__link{
    text-transform: uppercase;
    color: #fff;
    font-family: "MuliBold", sans-serif;
    font-size: 16px;
}

/*--------logo-------*/
.header__logo{
    border: 2px solid red;
    display: flex; 
    justify-content: center;

}

/*---------------header__block-right----------------*/

.header__block-right{
    width: 420px;
    
    display: flex;
    justify-content: space-between;
}


/* personal*/

.personal__list{
    border: 2px solid red;
    display: flex;
    padding: 0 ;
    margin: 0;
}
.personal__list-item{
    margin-right: 45px;
}
.personal__list-item:last-child{
    margin-right: 0;
}

.personal__cart-count{
    display: inline-block;
    background-color: #fff;
    border-radius:50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    text-align: center;
    line-height: 2;
    color: #000;
}


/*social*/

.social__list{
    border: 2px solid red;
    display: flex;
    padding: 0;
    margin: 0;
}
.social__list-item{
    margin-right: 45px;
    
}

.social__list-item:last-child{
    margin-right: 0;
}

.social__link{
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 2.4;
    
}

.header__content{
    display: flex;
    justify-content: center;
    border: 2px solid red;
}
.header__btn{
    width: 280px;
    height: 70px;
    
  
}
.btn{
    font-size: 24px;
    font-family: "MuliExtraBold", sans-serif;
    border-radius: 35px; 
    outline: none; 
    padding: 0 38px;
    color: #fff;
}

.btn--green{
    background-color: #0aa566;
    

}


/*----------------------smoothies----------------------*/

.smoothies{
    height: 860px;
    
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items:center
}
.smoothies__title{
    margin: 100px 0 55px 0 ;
    text-align: center;
    border: 2px solid red;
    color: #f7ae3b;
}
.title{
    font-family: "MuliRegular", sans-serif;
    font-size: 50px;
    font-weight: 800;
}

.smoothies__text{
    border: 2px solid red;
    display: block;
    text-align: center;
    width: 915px;
    margin: 0 auto;
} 

.text{
    font-family: "MuliRegular", sans-serif;
    font-size: 18px;
    line-height: 1.95;

}

.smoothies__contener{
    width: 1010px;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 0 0 0;
}

.smoothies__item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 251px;
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}
.smoothies__item:nth-child(8 )  {border: 0;}.smoothies__item:nth-child(7)  {border-bottom: 0;} .smoothies__item:nth-child(6)  {border-bottom: 0;}
.smoothies__item:nth-child(5)  {border-bottom: 0;} .smoothies__item:nth-child(4)  {border-right: 0;}

.smoothies__img{
    width: 74px;
    height: 70px;
    margin: 35px 0 0 0;
}

.smoothies__item-name{
    
    margin: 23px 0px 18px 0px;
    padding: 0;
    color: #f2612d;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: -0.5px;

}



/*-----------about----------*/

.about{
    height: 800px;
    background-color: #14826f;
    display: flex;
}

.about__content-left{
    border: 2px solid red;
    margin:64px 142px 0 143px; ;
}   

.about__img{
    width: 691px;
    height: 818px;
    z-index: 1222;
    position: relative;
}

.about__content-right{
    border: 2px solid red;
    margin: 64px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.about__title{
    border: 2px solid red;
    font-size: 55px;
    width: 588px;
    color: #fff;
    line-height: 1.09;
    letter-spacing: -1.1px;
    margin: 0;
}
.about__title-span{
    color: #cae941
}

.about__list{
    border: 2px solid red;
    
    font-size: 21px;
    font-weight: 800;
}

.about__list-item{
    font-size: 21px;
    font-weight: 800;
    color: #fff;
    padding: 0 0 20px 0;
}

.btn--orange{
    width: 380px;
    height: 60px;
    border: 1px solid #f7ae3b;
    background-color: #14826f;
    color: #fff;
}









/*---------products-----------*/

.products{
    height: 800px;
    display: flex;
    justify-content: space-between;
}
.products__item{
    border: 2px solid red;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products__img{
  width: 119px;
  height: 303px;
  margin: 0 auto;
}
.products__item:first-child {
    background-color: #632b17;
}


.products__item:nth-child(2){
    background-color: #178670
}

.products__item:nth-child(3){
    background-color: #f7ae3b;
}


.products__item:last-child{
    background-color: #c3471b;
}

.products__titel{
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-family: "MuliRegular", sans-serif;
    font-weight: normal;
    margin: 36px 0 10px 0;
}
.products__span{
    display: block;
    color: #fff;
    font-size: 24px;
    font-style: italic;
}

.products__btn{
    margin: 65px 0 0 0;
    width: 204px;
    height: 60px;
    border: 2px solid #fff;
    
}
.products__item:first-child .products__btn{
    background-color: #632b17
}
.products__item:nth-child(2) .products__btn {
    background-color: #178670
}
.products__item:nth-child(3) .products__btn{
    background-color: #f7ae3b;
}
.products__item:last-child .products__btn{
    background-color: #c3471b;
}


/*-----------------story--------------------*/

.story{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.story__contener{
    border: 2px solid red;
    display: flex;
    width: 1302px;
    height: 605px;
    
}

/*-content-left--*/

.story__content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
}

.story__title{
    color: #f7ae3b;
    
    margin: 0;
}

.story__text{
    margin: 45px 0 0 0;
    display: block;
    width: 510px;
}

.story__button{
    margin: 60px 0 0 0;
    width: 301px;
    height: 60px;
}

/*---content-righr---*/
.story__content-right{
    
    display: flex;
    
}
.story__img{
  width: 585px;
  height: 601px;
}


/*******************************testimonials***********/

.testimonials{
    height: 800px;
    background: url("assets/images/testimonials/Sarah\ A.png") center no-repeat;
    background-size: 764px;
    background-color: #672f1b;
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

.testimonials__title{
    display: block;
    border: 1px  solid red;
    margin: 110px 0 0 0;
}
.testimonials__title-span{

}

.testimonials__contener{
    width: 735px;
    border: 2px solid red;
    margin: 240px 0 0 0 ;
    display: flex;
        
}
.testimonials__block{
    border: 2px solid red;
    text-align: center;
}

.testimonials__img{
    width: 220px;
    height: 220px;
}

.testimonials__text{
    display: block;
    color: #fff;
    padding: 20px 0 0 0;
}

.testimonials__cite{
    display: block;
    color: #f7ae3b;
    font-size: 18px;
    padding: 30px 0 0 0;
}


.testimonials__arrows{

}





/**********************blog******************/

.blog{
    height: 800px;
    display: flex;
    justify-content: center;
}

.blog__contener{
    border: 2px solid red;
    width: 1205px;
    display: flex;
    justify-content: space-between;
    align-items:center; 
}

.blog__titel{
    padding: 100px 0 0 0;

}

/***content--left****/
.blog__content-left{
    border: 2px solid red;
    height: 100%;
    width: 560px;
}
.blog__img{
    padding: 50px 0 0 0;
}

.blog__content-right{
    
}

/***content--right***/
.blog__content-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.blog__content-right-title{

}

.blog__content-right-time{

}
.blog__content-right-text{
    border: 2px solid red;
    display: block;
    width: 472px;
    padding: 0 0 0 120px;
    
}

/**************instagram*************/

.instagram{
    height: 415px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.instagram__link-top{
    border: 2px solid red;
    display: block;
}

.instagram__items{
    border: 2px solid red;
    display: flex;
    width: 100%;

}

.instagram__item{
    display: flex;
}
.instagram__item-img{
    width: 100%;
}




/**********************footer*******************/
.footer{
    height: 430px;
}

.footer__top{
    height: 370px;
    background-color: #f6ab3b;
    display: flex;
    justify-content: space-around;;
}

.footer__logo{
    border: 2px solid red;
    display: flex;
    align-items: center;
}
.footer__title{
    color:#fff;
    font-family: Muli;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.54;
    letter-spacing: -0.52px;
}

/****information****/
.footer__information{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.information__list{

}

.information__list-item{

}



/*****payment***/
.footer__payment{
border: 2px solid red;
width: 250px;
display: flex;
flex-direction: column;
}   

.payment__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.payment__img{
   
}

/****subscribe****/
.footer__subscribe{
border: 2px solid red;
}





/*****footer__bottom****/
.footer__bottom{
    background-color: #6c2c1c;
    height: 60px;
    display: flex;
}

.footer__bottom-text{
    font-family: Muli;
    font-size: 13px;
    color: #af8a82;
}

.footer__btn-top-wrap{
    border: 2px solid red;
}
