@font-face{
    font-family:"MuliRegular";
    src: url("assets/fonts/Muli-Regular.woff") format("truetype");
    font-style: normal;
}

@font-face{
    font-family:"MuliBold";
    src: url("assets/fonts/Muli-Bold.ttf") format("truetype");
    font-style: normal;
}

@font-face{
    font-family:"MuliExtraBold";
    src: url("assets/fonts/Muli-ExtraBold.woff") format("truetype");
    font-style: normal;
}




/*-----------------------------------HEADER------------------------------------------------------*/

.header{
    height: 100vh;
    background: url("assets/images/header/header-bg-img.png")  no-repeat ;
    background-size: cover;
    background-position:center;
    width: 100%;
         
}

.header__top{
   padding: 75px 100px 100px;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -----------------header__menu-------------*/

.menu__list{
    border: 2px solid red;
    display: flex;
    padding: 0;
    margin: 0;    
}

.menu__item{
    margin-right: 35px;
    
}
.menu__item:last-child{
    margin-right: 0;
}

.menu__link{
    text-transform: uppercase;
    color: #fff;
    font-family: "MuliBold", sans-serif;
    font-size: 16px;
}

/*--------logo-------*/
.header__logo{
    border: 2px solid red;
    display: flex; 
    justify-content: center;
    
}

/*---------------header__block-right----------------*/

.header__block-right{
  
    display: flex;
    justify-content: space-between;
    position: relative;
}


/* personal*/
.header__personal{
    margin: 0 124px 0 0;
}

.personal__list{
    border: 2px solid red;
    display: flex;
    padding: 0 ;
    margin: 0;
    
}
.personal__list-item{
    margin-right: 45px;
}
.personal__list-item:last-child{
    margin-right: 0;
    position: relative;
}

.personal__cart-count{
    display: inline-block;
    background-color: #fff;
    border-radius:50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    text-align: center;
    line-height: 2;
    color: #000;
    position: absolute;
    top: -15px;
    left: 15px;
}


/*social*/
.socidal{
    border: 2px solid red;
}
.social::before{
    content: " ";
    width: 47px;
    height: 2px;
    background: url("assets/images/header/heder-before.png") center/cover no-repeat;
    position: absolute;
    top: 50%;
    left: 203px;
}

.social__list{
    border: 2px solid red;
    display: flex;
    padding: 0;
    margin: 0;
}
.social__list-item{
    margin-right: 45px;
    
}

.social__list-item:last-child{
    margin-right: 0;
}

.social__link{
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 2.4;
    
}

.header__content{
    display: flex;
    justify-content: center;
    border: 2px solid red;
    
}
.header__btn{
    width: 280px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header__btn::after{
    content: " ";
    display: block;
    position: absolute;
    background-image:url("assets/images/header/header-Arrow.png");
    width: 30px ;
    height: 16px;
    left: 210px ;
}
.btn{
    font-size: 24px;
    font-family: "MuliExtraBold", sans-serif;
    border-radius: 35px; 
    outline: none; 
    padding: 0 38px;
    color: #fff;
}

.btn--green{
    background-color: #0aa566;
    

}


/*----------------------smoothies----------------------*/

.smoothies{
    height: 860px;
    
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items:center
}
.smoothies__title{
    margin: 100px 0 55px 0 ;
    text-align: center;
    border: 2px solid red;
    color: #f7ae3b;
}
.title{
    font-family: "MuliRegular", sans-serif;
    font-size: 50px;
    font-weight: 800;
}

.smoothies__text{
    border: 2px solid red;
    display: block;
    text-align: center;
    max-width: 915px;
    margin: 0 auto;
} 

.text{
    font-family: "MuliRegular", sans-serif;
    font-size: 18px;
    line-height: 1.95;

}

.smoothies__contener{
    max-width: 1010px;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 0 0 0;
}

.smoothies__item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 25%;
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}
.smoothies__item:nth-child(8 )  {border: 0;}.smoothies__item:nth-child(7)  {border-bottom: 0;} .smoothies__item:nth-child(6)  {border-bottom: 0;}
.smoothies__item:nth-child(5)  {border-bottom: 0;} .smoothies__item:nth-child(4)  {border-right: 0;}

.smoothies__img{
    width: 74px;
    height: 70px;
    margin: 35px 0 0 0;
}

.smoothies__item-name{
    
    margin: 23px 0px 18px 0px;
    padding: 0;
    color: #f2612d;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: -0.5px;

}



/*-----------about----------*/

.about{
    height: 800px;
    background-color: #14826f;
    display: flex;
}

.about__content-left{
    border: 2px solid red;
    margin:64px 142px 0 143px; ;
}   

.about__img{
    max-width: 691px;
    max-height: 818px;
    z-index: 1222;
    position: relative;
}

.about__content-right{
    border: 2px solid red;
    margin: 64px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.about__title{
    border: 2px solid red;
    font-size: 55px;
    width: 588px;
    color: #fff;
    line-height: 1.09;
    letter-spacing: -1.1px;
    margin: 0;
    position: relative;
}
.about__title-span{
    color: #cae941
}
.about__title-span::before{
    content: " ";
    position: absolute;
    background-image:url("assets/images/about/about-after.png");
    width: 450px;
    height: 13px;
    top: 120px;
    left: 45px;
}

.about__list{
    border: 2px solid red;
    font-size: 21px;
    font-weight: 800;
    padding: 0 0 0 35px;
}

.about__list-item{
    font-size: 21px;
    font-weight: 800;
    color: #fff;
    padding: 0 0 20px 0;
    position: relative;
}
.about__list-item::before{
    content: " ";
    position: absolute;
    background-image: url("assets/images/about/right-li.png");
    width: 18px;
    height: 18px;
    top: 3px;
    left: -30px;
}
.about__list-item:last-child{
    padding: 0;
}
.about__btn{
    color: #fff;
    max-width: 380px;
    margin: 0 0 90px 0;
    font-size: 21px;
    padding: 21px 0 18px 29px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.about__btn::after{
    content: " ";
    position: absolute;
    background-image: url("assets/images/about/arrow.png");
    width: 30px;
    height: 16px;
    top: 25px;
    right: 35px;
}

.btn--orange{

    border: 1px solid #f7ae3b;
    background-color: #14826f;
    
}






/*------------------------products--------------------*/

.products{
    height: 800px;
    display: flex;
    justify-content: space-between;
}
.products__item{
    border: 2px solid red;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products__img{
  width: 119px;
  height: 303px;
  margin: 0 auto;
}
.products__item:first-child {
    background-color: #632b17;
}


.products__item:nth-child(2){
    background-color: #178670
}

.products__item:nth-child(3){
    background-color: #f7ae3b;
}


.products__item:last-child{
    background-color: #c3471b;
}

.products__titel{
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-family: "MuliRegular", sans-serif;
    font-weight: normal;
    margin: 36px 0 10px 0;
}
.products__span{
    display: block;
    color: #fff;
    font-size: 24px;
    font-style: italic;
}

.products__btn{
    margin: 65px 0 0 0;
    width: 204px;
    padding: 22px 0 18px 36px;
    border: 2px solid #fff;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.products__btn::after{
    content: " ";
    position: absolute;
    background-image: url("assets/images/produts/product-arrow.png");
    width: 30px;
    height: 16px;
    top: 25px;
    left: 140px;
}
.products__item:first-child .products__btn{
    background-color: #632b17
}
.products__item:nth-child(2) .products__btn {
    background-color: #178670
}
.products__item:nth-child(3) .products__btn{
    background-color: #f7ae3b;
}
.products__item:last-child .products__btn{
    background-color: #c3471b;
}


/*-----------------story--------------------*/

.story{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.story__contener{
    border: 2px solid red;
    display: flex;
    max-width: 1302px;
    height: 605px;
    
}

/*-content-left--*/

.story__content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
}

.story__title{
    color: #f7ae3b;
    
    margin: 0;
}

.story__text{
    margin: 45px 206px 0 0;
    display: block;
    max-width: 510px;
}

.story__button{
    margin: 60px 0 0 0;
    max-width: 301px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;
}
.story__button::after{
    content: " ";
    position: absolute;
    background-image: url("assets/images/story/arrow.png");
    width: 30px;
    height: 16px;
    top: 20px;
    right: 35px;

}

/*---content-righr---*/
.story__content-right{
  display: flex;
  position: relative;
    
}

.story__content-right::before{
    content: " ";
    position: absolute;
    background-image: url("assets/images/story/right-mg-1.png");
    width: 290px;
    height: 216px;
    top: 20px;
    left: -170px;
}

.story__img{
  width: 585px;
  height: 601px;
}


/*******************************testimonials***********/

.testimonials{
    height: 800px;
   
    background-color: #672f1b;
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

.testimonials__title{
    display: block;
    border: 1px  solid red;
    margin: 110px 0 0 0;
    color: #f7ae3b;
}
.testimonials__title-span{
    color: #f2612d;
    text-transform: uppercase;
}

.testimonials__contener{
    max-width: 735px;
    border: 2px solid red;
    margin: 140px 0 0 0 ;
    display: flex;
    position: relative;        
}

.testimonials__contener::before{
    content: " ";
    position: absolute;
    background-image: url("assets/images/testimonials/Sarah\ A.png");
    width: 764px;
    height: 148px;
    top: -65px;
    left: -135px;
    

}
.testimonials__block{
    border: 2px solid red;
    text-align: center;
    z-index: 1;
}

.testimonials__img{
    width: 220px;
    height: 220px;
    z-index: 1;
}

.testimonials__text{
    display: block;
    color: #fff;
    padding: 20px 0 0 0;
}

.testimonials__cite{
    display: block;
    color: #f7ae3b;
    font-size: 18px;
    padding: 30px 0 0 0;
}


.testimonials__arrows{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 145px 0 0 0 ;
}

.testimonials__arrows::before{
    content: " ";
    position: absolute;
    background-image: url("assets/images/testimonials/arrow-left.png");
    width: 30px;
    height: 16px;
    top: 0;
    left: -45px;
}

.testimonials__arrows::after{
    content: " ";
    position: absolute;
    background-image: url("assets/images/testimonials/arow-right.png");
    width: 30px;
    height: 16px;
    top: 0;
    left: 70px;
}




/**********************blog******************/

.blog{
    height: 800px;
    display: flex;
    justify-content: center;
}

.blog__contener{
    border: 2px solid red;
    width: 1205px;
    display: flex;
    justify-content: space-between;
    align-items:center; 
    
    
}


.blog__titel{
    padding: 100px 0 0 0;
    color: #f7ae3b;
    margin: 0;

}

/***content--left****/
.blog__content-left{
    border: 2px solid red;
    height: 100%;
    width: 560px;
    z-index: 2;
    position: relative;
}
.blog__content-left::after{
    content: " ";
    position: absolute;
    background-image: url("assets/images/blog/before.png");
    width: 687px;
    height: 12px;
    top: 280px;
    left: 510px;
    z-index: -1;
}

.blog__img{
    padding: 50px 0 0 0;
}

/***content--right***/
.blog__content-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.blog__content-right-title{
    font-size: 30px;
    color: #f2612d;
    margin:0;
}

.blog__content-right-time{
margin: 20px 0 0 0;
}
.blog__content-right-text{
    border: 2px solid red;
    display: block;
    width: 472px;
    margin: 45px 0 215px 60px;    
}

/**************instagram*************/

.instagram{
    height: 485px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.instagram__link-top{
    border: 2px solid red;
    display: block;
    font-size: 24px;
    font-weight: 800;
    color: #0aa566;
    margin: 0 0 45px 0;
    position: relative;
}

.instagram__link-top::before{
    content: " ";
    position: absolute;
    background-image: url("assets/images/instagram/instagram.png");
    width: 26px;
    height: 26px;
    top: 3px;
    left: -40px;
}

.instagram__items{
    border: 2px solid red;
    display: flex;
    width: 100%;

}

.instagram__item{
    display: flex;
    flex: 0 0 20%;
    position: relative;
}

.instagram__item::after{
    content: " ";
    position: absolute;
    background-image: url("assets/images/instagram/inst-card-after.png");
    width: 26px;
    height: 26px;
    bottom: 15px;
    right: 15px;
}

.instagram__item-img{
    width: 100%;
}





/**********************footer*******************/
.footer{
    height: 430px;
}

.footer__top{
    height: 370px;
    background-color: #f6ab3b;
    display: flex;
    justify-content: space-around;;
}

.footer__logo{
    border: 2px solid red;
    display: flex;
    align-items: center;
}
.footer__title{
    color:#fff;
    font-family: Muli;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.54;
    letter-spacing: -0.52px;
    margin: 80px 0 30px 0;
}

/****information****/
.footer__information{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.information__list{
    color: #6d450c;
    margin: 0 0 0 10px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Muli';
}

.information__list-item{
padding: 20px 0 0 0;
}



/*****payment***/
.footer__payment{
border: 2px solid red;
width: 270px;
display: flex;
flex-direction: column;
}   

.payment__items{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items:center;
}


.payment__link{
   padding: 20px 21px 0 0;
}

/****subscribe****/
.footer__subscribe{
border: 2px solid red;
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 495px;
}
.footer__input{
    width: 100%;
    height: 60px;
    border-radius: 30px;
    outline: none;
    background-image: url("./assets/images/footer/input.png") ;
    background-repeat: no-repeat;
    background-position: 20px 50%;
}
.footer__input::placeholder{
    padding: 0 0 0 60px;
    color: #6d450c;
    font-family: "Muli";
    font-size: 17px;
}

.footer__block-link{
    outline: none;
    border: 0;
    background: transparent;
    color:#6d450c;
    font-family: "Muli";
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    transform: translate(150px, 20px);
    position: relative;

}
.footer__block-link::before{
    content: " ";
    position: absolute;
    background-image: url("assets/images/footer/input-arrows-before.png");
    width: 48px;
    height: 43px;
    top: -18px;
    left: -65px;
}

.footer__socials{
    margin: 0 50px 0 0;
}
.footer__socials-list{
    display: flex;
    justify-content: flex-end;
}
.footer__socials-item{
    margin: 0 0 0 28px;
}


/*****footer__bottom****/
.footer__bottom{
    background-color: #6c2c1c;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
}

.footer__bottom-text{
    font-family: "Muli";
    font-size: 13px;
    color: #af8a82;
    padding: 26px 0 21px 0;
}

.footer__btn-top-wrap{
    border: 2px solid red;
    
    display: flex;
    align-items: center;
    bottom: 4px;
    right: -725px;
    position: relative;
    
}


.footer__span{
    font-size: 18px;
    color: #fff;
    
}

.footer__bottom-img{
    transform: translate(10px, -25px);
    
    
}

.footer__bottom-link{
    position: fixed;
    bottom: 0px;
    right: 100px;
}

.footer__bottom-link::before{
    content: " ";
    position: absolute;
    background-image: url("assets/images/footer/botem.png");
    width: 13px;
    height: 25px;
    top: -13px;
    left: 30px;
    z-index: 99999;

}
