// main: ./../../main.less
.socidal{
    
}
.social::before{
    content: " ";
    width: 47px;
    height: 2px;
    background: url("../assets/images/header/heder-before.png") center/cover no-repeat;
    position: absolute;
    top: 50%;
    left: 203px;
    @media (max-width: 1400px){
        left: 160px;
    }
}

.social__icon{
    width: 17px;
    height: 17px;
}
.social__list{
    margin-top: -5px;
    display: flex;
    padding: 0;
}
.social__list-item{
    margin-right: 45px;
    @media (max-width: 1400px){
        margin-right: 20px;
    }
}
.social__list-item:last-child{
    margin-right: 0;
}

.social__link{
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 2.4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



@media (max-width: 1366px) {

    .social{

        // &::before{
        //     left: 178px;
        // }

       
        &__link{
            width: 31px;
            height: 31px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__icon{
            width: 11px;
            
        }
        
    }
}

@media (max-width: 1200px) {

    .social::before{
        left: 38%;
        width: 140px;
    }
}
@media (max-width: 1024px) {

    .social::before{
        left: 292px;
        width: 124px;
    }
}

@media (max-width: 768px) {

    .social::before{
        left: 38%;
        width: 124px;
    }
}

@media (max-width: 576px) {

    .social__list-item{
        margin-right: 35px;
    }
    .social__link{
        width:25px;
        height: 25px;
    }
    .social__icon{
        width: 8px;
    }
    .social::before{
        display: none;
    }
}
