// main: ./../../main.less


.testimonials{
    background-color: #672f1b;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.testimonials__title{
    display: block;
    margin: 110px 0 0 0;
    color: #f7ae3b;
    @media (max-width: 1600px){
        margin: 60px 0 0 0;
    }
    @media (max-width: 1200px){
        margin: 50px 0 0 0;
        font-size: 44px;
    }
    @media (max-width: 992px){
        margin: 60px 0 0 0;
        font-size: 45px;
    }
}
.testimonials__title-span{
    color: #f2612d;
    text-transform: uppercase;
}

.testimonials__contener{
    max-width: 735px;
    margin: 140px 0 0 0 ;
    display: flex;
    position: relative;
    @media (max-width: 1600px){
        margin: 100px 0 0 0;
    }
    @media (max-width: 1200px){
        margin: 90px 0 0 0;
    }
    @media (max-width: 992px){
        margin: 90px 0 0 0;
    }        
}

.testimonials__contener::before{
    content: " ";
    position: absolute;
    background-image: url("../assets/images/testimonials/Sarah\ A.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 764px;
    height: 148px;
    top: -65px;
    left: -135px;
    @media (max-width: 1600px){
        width: 480px;
        height: 150px;
        top: -35px;
        left: 80px;
    }
    @media (max-width: 1200px){
        left: 104px;
        top: -30px;
    }
    @media (max-width: 992px){
        width: 68%;
        height: 140px;
        top: -38px;
        left: 75px;
    }

}
.testimonials__block{
    text-align: center;
    z-index: 1;
}

.testimonials__img{
    width: 220px;
    height: 220px;
    z-index: 1;
    @media (max-width: 1600px){
        width: 180px;
        height: 180px;
    }
    @media (max-width: 1200px){
        width: 200px;
        height: 200px;
    }
}

.testimonials__text{
    display: block;
    color: #fff;
    padding: 20px 0 0 0;
    @media (max-width: 1600px){
        font-size: 16px;
    }
    @media (max-width: 1200px){
        font-size: 17px;
        padding: 30px 0 0 0;
        line-height: 1.70;
    }
}

.testimonials__cite{
    display: block;
    color: #f7ae3b;
    font-size: 18px;
    padding: 30px 0 0 0;
    @media (max-width: 1600px){
        font-size: 14px;
    }
    @media (max-width: 1200px){
        font-size: 15px;
        padding: 20px 0 0 0;
    }
}


.testimonials__arrows{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 145px 0 86px 0 ;
    @media (max-width: 1600px){
        margin: 115px 0 46px 0 ;
    }
    @media (max-width: 1200px){
        margin: 50px 0 65px 0;
    }
    @media (max-width: 992px){
        margin: 100px 0 86px 0;
    }
}

.testimonials__arrows::before{
    content: " ";
    position: absolute;
    background-image: url("../assets/images/testimonials/arrow-left.png");
    width: 30px;
    height: 16px;
    top: 0;
    left: -45px;
    @media (max-width: 1600px){
        top: -15px;
        left: -155px;
    }
    @media (max-width: 1200px){
        left: -150px;
    }
}

.testimonials__arrows::after{
    content: " ";
    position: absolute;
    background-image: url("../assets/images/testimonials/arow-right.png");
    width: 30px;
    height: 16px;
    top: 0;
    left: 70px;
    @media (max-width: 1600px){
        left: 70px;
        top: -15px;
    }
    @media (max-width: 1200px){
        left: 95px;
    }
}



@media (max-width: 576px) {
 
    .testimonials__title{
        margin: 22px 0 0 0;
        font-size: 31px;
    }

    .testimonials__contener{
        margin: 20px 0 0 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    .testimonials__img{
        width: 140px;
        height: 140px;
    }

    .testimonials__contener::before{
        // top: 122px;
        // left: 33px;
        // background-size: 403px;
        // background-repeat: no-repeat;
        display: none;
    }
    .testimonials__text{
        padding: 10px 0 0 0;
        font-size: 13px;
    }
    .testimonials__cite{
        font-size: 10px;
        padding: 10px 0 0 0;
    }

    .testimonials__arrows{
        margin: 60px 0 40px 0;
    }
    .testimonials__arrows::before{
        left: -72px;
        background-repeat: no-repeat;
        background-size: 20px;
    }
    .testimonials__arrows::after{
        left: 50px;
        background-repeat: no-repeat;
        background-size: 20px;
    }
}
